.idea/
__pycache__/
arch
pre_computed_data
results
tests/results
venv/
Wind_ABM_Run.build
github-recovery-codes.txt
python37.dll
Wind_ABM_Run.exe
PreCalculatedLandRecData.csv
test.csv
test1.csv
.gitattributes